<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    <title>Weather or Not</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://kit.fontawesome.com/e58accedfe.js" crossorigin="anonymous"></script>
</head>
<body>


<form action="/search" method="post" class="row search">
    <div class="col-md-8">
        <input type="text" name="location" placeholder="Enter location" />
    </div>
    <div class="col-md-4">
        <button type="submit">5 day forecast</button>
    </div>
</form>

<div id="history" class="row">
    {% for city in history %}
        <div class="history-item">
            
            <a href="/search?location={{ city }}"><button class="cityNameBtn" >{{ city }}</button></a>
        </div>
    {% endfor %}
    <a href="/clear-history"><button id='clearBtn' >Clear Search History</button></a>
</div>



<div id="weatherBar" class="row">
    {% for day in weather_data %}
    <div class="{% if loop.index == 1 %}weatherToday{% else %}weatherFuture{% endif %}">
        <h3>
            {% if loop.index == 1 %}
                Today in {{ city_name }}
            {% else %}
                {{ day.day }} in {{ city_name }}
            {% endif %}
        </h3>
        <img src="{{ day.icon_url }}" alt="Weather Icon" class="weatherIcon">
        <p class="weatherTemperature">Temperature: {{ day.temp }}°F</p>
        <p>Humidity: {{ day.humidity }}%</p>
        <p>Wind Speed: {{ day.wind_speed }} mph</p>
    </div>
{% endfor %}


</div>

</body>
</html>
